# production environment variables
DOMAIN=mitpuzzles.com

# database
POSTGRES_USER=mitpuzzles
POSTGRES_PASSWORD=your-secure-postgres-password
POSTGRES_DB=mitpuzzles

# backend secret key (generate with: openssl rand -hex 32)
SECRET_KEY=your-secret-key-here

